<%- include('partials/main/head') %>
<%- include('partials/main/header') %>

<h1>Shows</h1>
<ul>
    <% for(let anime of animes) { %>
        <li>
            <a href="/products/<%= anime._id%>">
                <%= anime.title %>
                <img src="<%= anime.image %>" alt="<%= anime.title %>" />
            </a>
        </li>
    <% } %>
</ul>

<%- include('partials/main/footer') %>
