<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= anime.title %>
    </title>
</head>

<body>
    <h1>
        <%= anime.title %>
    </h1>
    <ul>
        <li>Premiered: <%= anime.premiered %>
        </li>
        <li>Score: <%= anime.score %>
        </li>
        <li>Ranked: <%= anime.ranked %>
        </li>
        <li>Studios: <%= anime.studios %>
        </li>
    </ul>

    <a href="/animeStore"> Go to Anime Store</a>
</body>

</html>