<%- include('partials/main/head')%>
    <%- include('partials/main/header')%>
        <h1>
            <%= manga.name %>
        </h1>

        <ul>
            <li>
                Score: <%= manga.score%>
            </li>
            <li>
                Author: <%= manga.author%>
            </li>
            <li>
                Volumes: <%= manga.volumes%>
            </li>
            <li>
                Category: <%= manga.category%>
            </li>
        </ul>

        <a href="/mangaStore"> Go To Manga Store</a>

        </body>

        </html>