<%- include('partials/main/head')%>
    <%- include('partials/main/header')%>

        <h1>Manga</h1>
        <ul>
            <% for(let manga of mangas) { %>
                <li><a href="/product/<%= manga._id %>">
                        <%= manga.name %>
                    </a>
                </li>
                <% } %>
        </ul>

        <%- include('partials/main/footer') %>